.policy-card__content ul {
  list-style: none;
}
.policy-card__content ul li::before {
  content: '';
  width: 0.375rem;
  height: 0.375rem;
  background-image: url('/details-tour/icon-dot.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  position: absolute;
  left: -0.875rem;
  top: 0.375rem;
}
.policy-card__content ol {
  list-style: decimal;
}
.policy-card__content li {
  position: relative;
  margin-left: 1rem;
}
.policy-card__content li:not(:last-child) {
  margin-bottom: 0.75rem;
}
